{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<style>
.header {
  background-color: #c3c3c3;
  padding: 40px;
  text-align: center;
  margin-bottom : 2em;
}

.footer {
    background-color: #c3c3c3;
    padding: 50px;
    text-align: center;
    margin-top: 2em;
}
</style>
<!-- header-->
<div class="header">
  
    <h1 style="font-size : 50px">Un Diaporama avec l'effet Ken Burns</h1>
    <p>Une animation pas comme les autres par <span style="font-weight: bold">Lorenzo Lagoutte</span> et <span style="font-weight: bold">Stéphane Lavarie</span></p>
  
</div>
<!-- Carousel -->
<div class="flex justify-center bg-gray-200">
  <div class="flex justify-center border-solid border-2 bg-gray-400 border-gray-600 overflow-hidden" style=" border-radius: 25px;">
    <div id="div" style="height: 600px; width: 800px;">
      <img id="image" src="photos/800.jpg">
    </div>
  </div>
</div>
<!-- footer-->
<div class ="footer"></div>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/carrousel.js') }}"></script>
{% endblock %}
