{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <link rel="stylesheet" href="css/cropper.min.css">

    <div>

        <button id="jsonB">Click</button>

        <h1>Bienvenue dans l'interface admin</h1>


        <form action="/upload" method="post" enctype="multipart/form-data">
            <label>Sélectionner un ou plusieurs fichier(s) :</label>
            <input type="file" name="files[]" required multiple><br><br>
            <input type="submit" value="Envoyer">
        </form>

    </div>

    <div id="list" class="w-full flex">

    </div>


    <div id="effectFrame" class="flex flex-col justify-center w-full">



    </div>

{% endblock %}
