{% extends 'base.html.twig' %}

{% block title %}Interface admin{% endblock %}

{% block body %}

    <script src="js/files.js"></script>

    <link rel="stylesheet" href="css/cropper.min.css">
    <style>
        .header {
            background-color: #c3c3c3;
            padding: 40px;
            text-align: center;
            margin-bottom : 2em;
        }
    </style>
    <div class="header">
        <h1 style="font-size : 50px">Interface admin</h1>
    </div>

    <div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label>Sélectionner un ou plusieurs fichier(s) :</label>
            <input class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" type="file" name="files[]" required multiple>
            <input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" type="submit" value="Envoyer">
        </form>
    </div>
    <br><hr><br>

    <div class="flex justify-center bg-gray-200">
        <h2 style="font-size : 30px; ">Votre gallerie</h2>
    </div>
    <div class="flex justify-center bg-gray-200">
    <p>Sélectionner une image pour la recadrer</p>
    </div>
    <br><hr><br>
    
    <div id="list" class="w-full flex"></div>
    <br><hr><br>
    
    <div class="flex justify-center"> 
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded" id="jsonB">Valider vos cadrages</button>
        <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 border border-orange-700 rounded" id="jsonB"><a href="/">Retour à votre diaporama</a></button>
    </div>
 
       
    
    <div id="effectFrame" class="flex flex-col justify-center w-full"></div>

{% endblock %}
