<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body class="overflow-hidden overflow-y-scroll">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
